

.landing__container{
    text-align: center;
    background-image: url('../../img/fondoLand.gif');
    background-repeat: no-repeat;
    height:100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}