.nav-bar{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    height: 90px;    
    background-color:  white;
    
}

.btn-CreateA{

    height: 49px;
    margin-left: 80px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: rgb(207, 203, 203) 1px solid;
    width: 120px;
    cursor: pointer;
    background-color:#f3eded;

}